<!DOCTYPE html>
<html ng-app="mySecondApp">
<head>
    <title>My First AngularJS App</title>
</head>
<body ng-controller="FinanceController">
<p>
    Salary:
    <input type="text" ng-model="salary"/>
</p>

<p>
    Percentage for shopping:
    <input type="text" ng-model="percentage"/>
</p>

<p>
    Spent amount for shopping: <span>{{result() | currency}}</span>
</p>

    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>